<div class="right-inner karma-detail details-card">
  <h3>Karma</h3>
  <p>karma is socer.</p>
  <p>karma is socer.</p>
  <p>karma is socer.</p>
  <p>karma is socer.</p>
  <p>karma is socer.</p>
  <p>karma is socer.</p>
  <p>karma is socer.</p>
  <p>karma is socer.</p>
  <p>karma is socer.</p>
  <p>karma is socer.</p>
  <p>karma is socer.</p>
</div>
