<div class='item' id='item-<%= object_id %>' >

  <div class='front'>

    <% if(content){%>
    <div class='content-inner' style='padding: 20px;'>
      <span ><%= reason %></span>
      <span ><%= number %></span>
      <small><%= created_on %></small>
    </div>
    <% }%>

  </div>

</div>
