<div class="pt-triggers">
  <!--
  <button class="btn" data-action='commit'>COMMIT</button>
  <button class="btn" data-action='forget'>FORGET</button>
  -->
  <button class="iterateHandler pt-touch-button" data-action='commit'>记住了</button>
  <button class="iterateHandler pt-touch-button" data-action='forget'>忘记</button>
  <button class="iterateHandler pt-touch-button" data-action='commit'>下一个单词</button>
</div><!-- /triggers -->

<div id="pt-main" class="pt-perspective">

</div>
