<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <title>RB</title>
        <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">

        <link rel="stylesheet" type="text/css" href="css/base.css">
        <link rel="stylesheet" type="text/css" href="css/skeleton.css">
        <link rel="stylesheet" type="text/css" href="css/layout.css">

        <link rel="stylesheet" type="text/css" href="css/flat-ui.css">

        <link rel="stylesheet" type="text/css" href="css/panel.css" />
        <link rel="stylesheet" type="text/css" href="css/toolbar.css" />
        <link rel="stylesheet" type="text/css" href="css/button.css" />

        <link rel="stylesheet" type="text/css" href="css/query.css" />
        <link rel="stylesheet" type="text/css" href="css/inbox.css" />
        <link rel="stylesheet" type="text/css" href="css/karma.css" />
        <link rel="stylesheet" type="text/css" href="css/notes.css" />
        <link rel="stylesheet" type="text/css" href="css/dash.css" />

        <link rel="stylesheet" type="text/css" href="css/component.css" />
        <link rel="stylesheet" type="text/css" href="css/animations.css" />

        <link rel="stylesheet" type="text/css" href="css/mobile.css" />

        <style>

          body {
            margin: 0;
          }

          #loading_screen {
            z-index:20000;
            background: #383838;
            position: absolute;
            width: 100%;
          }

          #loading_screen_background {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 100000;
          }

          #loading_screen_logo {
            text-align: center;
            background-repeat: no-repeat;
            background-position: center bottom;
            position: relative;
            z-index: 1;
            color: rgb(51, 51, 51);
            line-height: 35px;
            background-image: -webkit-gradient( linear, left top, left bottom, from(rgba(50, 50, 50, 0.7)), to(rgba(30, 30, 30, 0.8)) );
            -webkit-background-clip: text;
            -webkit-font-smoothing: antialiased;
            -webkit-text-fill-color: transparent;
          }

          #loading_screen_bars {
            width: 100%;
            text-align: center;
            margin: 0 auto;
            margin-top: 45px;
            position: relative;
            z-index: 1;
          }

          .loader-dot {
            display: inline-block;
            background-color: #1F8DD6;
            background-color: #ccc;
            -webkit-box-shadow: inset 0px 1px 1px 0px rgba(0,0,0,.3);
            -moz-box-shadow: inset 0px 1px 1px 0px rgba(0,0,0,.3);
            width: 9px;
            height: 9px;
            margin-right: 8px;
            opacity: .1;

            -webkit-border-radius: 9px;
            -moz-border-radius: 9px;
            border-radius: 9px;

            -webkit-box-shadow: inset 0px 1px 1px 0px rgba(0,0,0,.3);
            -moz-box-shadow: inset 0px 1px 1px 0px rgba(0,0,0,.3);
            box-shadow: inset 0px 1px 1px 0px rgba(0,0,0,.3);

            -webkit-animation-name: loader-dot;
            -webkit-animation-iteration-count: infinite;
            -webkit-animation-timing-function: linear;
            -webkit-animation-duration: 1.2s;

            -moz-animation-name: loader-dot;
            -moz-animation-iteration-count: infinite;
            -moz-animation-timing-function: linear;
            -moz-animation-duration: 1.2s;
          } 

          #dot1 { -webkit-animation-delay: 0s; -moz-animation-delay: 0s; animation-delay: 0s; }
          #dot2 { -webkit-animation-delay: .3s; -moz-animation-delay: .3s; animation-delay: .3s; }
          #dot3 { -webkit-animation-delay: .6s; -moz-animation-delay: .6s; animation-delay: .6s;  }

          @-webkit-keyframes loader-dot{
            0% {opacity: .1;}
            40% {opacity: 1;}
            60% {opacity: 1;}
            100% {opacity: .1;}
          } 

          @-moz-keyframes loader-dot{
            0% {opacity: .1;}
            40% {opacity: 1;}
            60% {opacity: 1;}
            100% {opacity: .1;}
          } 


        </style>

    </head>
    <body>

      <div id="loading_screen">
        <div id="loading_screen_background"></div>
        <h2 style='padding-top:180px;width: 100%;text-align: center;margin: 0 auto;color:#fff'>Rolling</h2> 
        <div id="loading_screen_bars">
          <div id="dot1" class="loader-dot"></div>
          <div id="dot2" class="loader-dot"></div>
          <div id="dot3" class="loader-dot"></div>
        </div>
      </div>

      <div id="overlay"></div>

      <div class="relative tall">

            <div id='panels' class="drawers absolute">

              <div class='left-sidebar-wrapper'>
                <div id='leftpanel'  class="left-drawer drawer absolute">
                </div><!--left-->
              </div>

              <div class='right-sidebar-wrapper'>
                <div id='rightpanel'  class="right-drawer drawer absolute">
                </div><!--right-->
              </div>

            </div>

            <div  id="content" class="absolute drop-shadow"  data-snap-ignore="true">
                <div class="relative tall"  data-snap-ignore="true" >
                  <div id="toolbar" class="absolute"  data-snap-ignore="true" >
                  </div>
                  <div id="main" data-snap-ignore="true" >
                  </div>
                </div>
            </div>
        </div>

        <script>

          var LoadingScreen = {
            start: function() {
              var self = this;

              if(!("webkitMask" in document.body.style)) {
                document.getElementById("loading_screen_background").style.backgroundImage = "none";
              }

              self._resize();
            },

            stop: function() {
              setTimeout(function(){
                document.getElementById("loading_screen").style.display = "none";
              },2000);
            },

            _resize: function() {
              var window_height = window.innerHeight;
              document.getElementById('loading_screen').style.height = window_height + "px";
              // document.getElementById('loading_screen_logo').style.paddingTop
              //    = (window_height * .43) + "px";
            }
          };

          LoadingScreen.start();


        </script>




        <!-- DEV -->


        <script src="js/main-built.js"></script>

    </body>
</html>
