
ul#menu
  li.inactive
    a(href='./inactive')
      .count 0
      | 等待
  li.active
    a.active(href='./active')
      .count 0
      | 正在处理
  li.failed
    a(href='./failed')
      .count 0
      | 失败
  li.complete
    a(href='./complete')
      .count 0
      | 完成
  li.delayed
    a(href='./delayed')
      .count 0
      | 推迟
