<div class='item'>

  <div class='back'>
    <h2><%= title %></h2>
    <h3>OK</h3>
  </div>

  <div class='front snap-content' id='item-<%= object_id %>'>
    <div class='button-inner'>
      <a  class="action-button normal js-commit">Commit</a>
      <a  class="action-button js-forget">Forget</a>
    </div>

    <h4><%= title %></h4>


    <div class='content-inner'>
      <span><%= content.slice(0,20) %></span>
    </div>

  </div>

</div>
