<div class="note-edit-inner">
  <form class="form-horizontal">
  <input type="text" id="list-title"  placeholder="标题">
  <input type="text" id="list-desc"  placeholder="简单描述">
  <textarea id="list-content">详细描述</textarea>

  <a class="controller-btn controller-btn-normal save" type="button" style="display:block">创建一个单词表</a>
  </form>
</div>
