<h4>
<h3 data-url="list/../notes"><%= title %> </h3>
<a href="#!jobs/<%= title %>/active/0..50/desc">
<span class="pill actions">
Working
</span>
</a>
<a href="#!jobs/<%= title %>/complete/0..50/desc">
<span class="pill actions">
Completed
</span>
</a>
<a href="#!jobs/<%= title %>/inactive/0..10/desc">
<span class="pill actions">
Pending
</span>
</a>
<a href="#!jobs/<%= title %>/failed/0..10/asc">
<span class="pill actions">
Fails
</span>
</a>
</h4>
