<div class="modal">

        <div class="query-item-header">
          <a class="action-button js-close">Close</a>
        </div>

        <div class="query-content">

          <h3>No entry</h3>

        </div><!--content-->
</div>
