<div class="modal active  query">

        <div class="query-item-header">
            <a class="action-button js-close">Close</a>
        </div>

        <header>
            <h3>
              <span class="content"></span>
              <div class="word_pro">
              </div>
            </h3>
        </header>

</div>
