<div class="note-edit-inner" style=''>
  <form class="form-horizontal">
  <div class="meta">
    <small class='title'>@<%= title %> </small><br/>
    <small class='list'>#<%= list_name  %></small>
  </div>

  <input type="text" id="note-title"  placeholder="<%= title %>">
  <textarea></textarea>



  <a class="controller-btn controller-btn-normal save" type="button" style="display:block">添加到单词本</a>
  </form>
</div>
