<!--
<div class='header'>
  <a class="action-button js-forget" href="#!list/filter/all">ALL</a>
  <a class="action-button js-forget" href="#!list/filter/closed">Finish</a>
  <a class="action-button js-forget" href="#!list/filter/open">Rolling</a>
</div>
-->

<table class='jobs'>
<!--
  <caption>...</caption>
-->
  <thead>
    <tr>
      <th>ID</th>
      <th>Job</th>
      <th>Status</th>
      <th class='mobile-hide'>Message</th>
      <th class='mobile-hide'>Progress</th>
      <th class='mobile-hide'>Created</th>
      <th class='mobile-hide'>Last Updated</th>
      <th><a class='action-button js-redo-all'>Redo All</a></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

